{% extends 'test_admin.html' %}
{% load staticfiles %}
{% block title %}教师用户{% endblock %}
{% block css %} <link href="{% static 'css/table.css' %}" rel="stylesheet"/> {% endblock %}
{% block content %}
    <div class="container">
          <table class="hovertable">
            <tr>
                <th>考题号</th><th>老师工号</th><th>出题编号</th><th>老师名</th><th>题目</th>
            </tr>
              {% for word_test,teacher_number,teacher_num,teacher_name,teacher_text in result_all %}
                  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
                      <td>{{ word_test }}</td>
                      <td>{{ teacher_number }}</td>
                      <td>{{ teacher_num }}</td>
                      <td>{{ teacher_name }}</td>
                      <td>{{ teacher_text }}</td>
                  </tr>
              {% endfor %}
        </table>
    </div> <!-- /container -->
{% endblock %}


